In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('estagio_princ_emp.xlsx - Sheet1.csv')

df['Data Início'] = pd.to_datetime(df['Data Início'])
df['Data Término'] = pd.to_datetime(df['Data Término'])

df.head()

#Identificando as principais empresas com estagiários da EEL
total_estagiarios = len(df)
(df['Empresa'].value_counts()/total_estagiarios*100).head(17).sum()
df['Empresa'].value_counts().head(17).sum()
#Assim é possível identificar as empresas que concentram 50,2% dos estagiários da EEL

1881

In [2]:
#Identificando a frequência de contratação dessas empresas ao longo dos 6 anos, através do gráfico de barras empilhadas
# -- Criando uma lista com as principais empresas contratantes
principais_empresas = df['Empresa'].value_counts().head(17).index.tolist()
# -- Criando um dataframe com as princpais empresas contratantes
df_princ_emp = df[df['Empresa'].isin(principais_empresas)]
df_princ_emp.head()

,Unnamed: 0,Curso,Empresa,Data Início,Data Término,Latitude,Longitude,Cidade,Localização
0,2,Engenharia Química,3M DO BRASIL LTDA,2018-01-15,2018-12-31,-22.769293,-47.167211,São José dos Campos,2
1,3,Engenharia Química,3M DO BRASIL LTDA,2018-02-15,2019-02-14,-22.769293,-47.167211,São José dos Campos,2
2,4,Engenharia Química,3M DO BRASIL LTDA,2017-07-24,2018-07-23,-22.769293,-47.167211,São José dos Campos,2
3,5,Engenharia Química,3M DO BRASIL LTDA,2018-07-23,2018-12-31,-22.769293,-47.167211,São José dos Campos,2
4,6,Engenharia Química,3M DO BRASIL LTDA,2021-02-08,2022-07-31,-22.769293,-47.167211,São José dos Campos,2

In [3]:
# -- Encontrando a localização de cada principal empresa presente no novo dataframe
print(principais_empresas)

['BASF S/A', 'ESCOLA DE ENGENHARIA DE LORENA', 'CONFAB INDUSTRIAL S/A', 'JOHNSON & JOHNSON INDUSTRIAL LTDA.', 'CRUZEIRO PAPEIS INDUSTRIAIS - CPI', 'ITAÚ UNIBANCO S/A', 'A.C. NIELSEN DO BRASIL LTDA', 'PROCTER & GAMBLE IND. E COM. LTDA', 'AMSTED MAXION FUNDIÇÃO E EQUIPAMENTOS FERROVIÁRIOS S.A', 'PLASTIC OMNIUM DO BRASIL LTDA', '3M DO BRASIL LTDA', 'SUZANO PAPEL E CELULOSE S/A', 'EMBRAER S/A', 'GERDAU S/A', 'INTERVET DO BRASIL VETERINÁRIA LTDA', 'MONSANTO DO BRASIL LTDA', 'BRASKEM S/A']

In [4]:
df['Localização'].value_counts()

1    1072
3     481
2     328
Name: Localização, dtype: int64

In [6]:
df['Cidade'].value_counts()

São Paulo              419
Guaratinguetá          414
Cruzeiro               260
São José dos Campos    255
Lorena                 206
Pindamonhangaba        192
Taubaté                 73
Suzano                  62
Name: Cidade, dtype: int64

In [15]:
df['Ano de Início'] = df['Data Início'].dt.year
df.loc[(df['Ano de Início'] == 2026)]

,Unnamed: 0,Curso,Empresa,Data Início,Data Término,Latitude,Longitude,Cidade,Localização,Ano de Início
117,129,Engenharia Bioquimica,A.C. NIELSEN DO BRASIL LTDA,2026-07-10,2020-03-08,-23.643375,-46.826935,São Paulo,3,2026
137,152,Engenharia Química,A.C. NIELSEN DO BRASIL LTDA,2026-01-08,2021-01-11,-23.643375,-46.826935,São Paulo,3,2026
142,157,Engenharia Química,A.C. NIELSEN DO BRASIL LTDA,2026-01-01,2020-12-18,-23.643375,-46.826935,São Paulo,3,2026
150,165,Engenharia Bioquimica,A.C. NIELSEN DO BRASIL LTDA,2026-08-13,2023-05-09,-23.643375,-46.826935,São Paulo,3,2026
153,168,Engenharia de Materiais,A.C. NIELSEN DO BRASIL LTDA,2026-10-10,2021-01-13,-23.643375,-46.826935,São Paulo,3,2026
159,176,Engenharia Química,3M DO BRASIL LTDA,2026-02-08,2018-11-05,-22.769293,-47.167211,São José dos Campos,2,2026
165,182,Engenharia Bioquimica,3M DO BRASIL LTDA,2026-11-01,2016-03-06,-22.769293,-47.167211,São José dos Campos,2,2026
167,185,Engenharia Química,A.C. NIELSEN DO BRASIL LTDA,2026-04-10,2016-10-08,-23.643375,-46.826935,São Paulo,3,2026
176,194,Engenharia Química,A.C. NIELSEN DO BRASIL LTDA,2026-01-06,2022-12-08,-23.643375,-46.826935,São Paulo,3,2026