In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('estagio_princ_emp.xlsx - Sheet1.csv')

df['Data Início'] = pd.to_datetime(df['Data Início'])
df['Data Término'] = pd.to_datetime(df['Data Término'])

df.head()

#Identificando as principais empresas com estagiários da EEL
total_estagiarios = len(df)
(df['Empresa'].value_counts()/total_estagiarios*100).head(17).sum()
df['Empresa'].value_counts().head(17).sum()
#Assim é possível identificar as empresas que concentram 50,2% dos estagiários da EEL

1881

In [2]:
#Identificando a frequência de contratação dessas empresas ao longo dos 6 anos, através do gráfico de barras empilhadas
# -- Criando uma lista com as principais empresas contratantes
principais_empresas = df['Empresa'].value_counts().head(17).index.tolist()
# -- Criando um dataframe com as princpais empresas contratantes
df_princ_emp = df[df['Empresa'].isin(principais_empresas)]
df_princ_emp.head()

,Unnamed: 0,Curso,Empresa,Data Início,Data Término,Latitude,Longitude,Cidade,Localização
0,2,Engenharia Química,3M DO BRASIL LTDA,2018-01-15,2018-12-31,-22.769293,-47.167211,São José dos Campos,2
1,3,Engenharia Química,3M DO BRASIL LTDA,2018-02-15,2019-02-14,-22.769293,-47.167211,São José dos Campos,2
2,4,Engenharia Química,3M DO BRASIL LTDA,2017-07-24,2018-07-23,-22.769293,-47.167211,São José dos Campos,2
3,5,Engenharia Química,3M DO BRASIL LTDA,2018-07-23,2018-12-31,-22.769293,-47.167211,São José dos Campos,2
4,6,Engenharia Química,3M DO BRASIL LTDA,2021-02-08,2022-07-31,-22.769293,-47.167211,São José dos Campos,2

In [3]:
# -- Encontrando a localização de cada principal empresa presente no novo dataframe
print(principais_empresas)

['BASF S/A', 'ESCOLA DE ENGENHARIA DE LORENA', 'CONFAB INDUSTRIAL S/A', 'JOHNSON & JOHNSON INDUSTRIAL LTDA.', 'CRUZEIRO PAPEIS INDUSTRIAIS - CPI', 'ITAÚ UNIBANCO S/A', 'A.C. NIELSEN DO BRASIL LTDA', 'PROCTER & GAMBLE IND. E COM. LTDA', 'AMSTED MAXION FUNDIÇÃO E EQUIPAMENTOS FERROVIÁRIOS S.A', 'PLASTIC OMNIUM DO BRASIL LTDA', '3M DO BRASIL LTDA', 'SUZANO PAPEL E CELULOSE S/A', 'EMBRAER S/A', 'GERDAU S/A', 'INTERVET DO BRASIL VETERINÁRIA LTDA', 'MONSANTO DO BRASIL LTDA', 'BRASKEM S/A']

In [4]:
df['Localização'].value_counts()

1    1072
3     481
2     328
Name: Localização, dtype: int64

In [6]:
df['Cidade'].value_counts()

São Paulo              419
Guaratinguetá          414
Cruzeiro               260
São José dos Campos    255
Lorena                 206
Pindamonhangaba        192
Taubaté                 73
Suzano                  62
Name: Cidade, dtype: int64

In [10]:
df['Ano de Início'] = df['Data Início'].dt.year
df['Ano de Início'].value_counts()

2018    276
2017    274
2022    253
2019    251
2021    227
2020    199
2016    193
2015     93
2014     34
2023     22
2024     14
2025     10
2026      9
2013      9
2027      5
2028      3
2012      3
2029      2
2030      1
2011      1
2010      1
2008      1
Name: Ano de Início, dtype: int64