In [144]:
import pandas as pd
import numpy as np

In [145]:
df = pd.read_csv('estagio_compartilhado.csv')
df.rename(columns={'Curso ': 'Curso'}, inplace = True)

In [146]:
# -- Transformando as datas
df['Data Início'] = pd.to_datetime(df['Data Início'])
df['Data Término'] = pd.to_datetime(df['Data Término'])

In [147]:
# -- Identificando os anos de início
df['Ano Início'] = df['Data Início'].dt.year
df['Ano Término'] = df['Data Término'].dt.year

In [154]:
# -- Filtrando os dados de ano de início para o intervalo de 2016 a 2022
df['Ano Início'].value_counts() # 24 anos cadastrados
df = df.loc[(df['Ano Início'] > 2015) & (df['Ano Início'] < 2023) & (df['Ano Término'] > 2015) & 
           (df['Ano Término'] <= 2023)]
print(len(df['Ano Início'].value_counts()))
print(len(df['Ano Término'].value_counts()))

7
8

In [157]:
# -- Filtrando o intervalo de estágio entre ano de início e ano de término
#df['Período'] = df['Ano Término'] - df['Ano Início']
#df = df.loc[(df['Período']>=0)]

Empty DataFrame
Columns: [Curso, Empresa, Data Início, Data Término, Ano Início, Ano Término, Período]
Index: []

In [150]:
total_empresas = len(df)
df['Empresa'].value_counts().head(19)/total_empresas*100

BASF S/A                                                  10.738061
ESCOLA DE ENGENHARIA DE LORENA                             4.746744
CONFAB INDUSTRIAL S/A                                      3.733719
CRUZEIRO PAPEIS INDUSTRIAIS - CPI                          3.646889
JOHNSON & JOHNSON INDUSTRIAL LTDA.                         3.589001
ITAÚ UNIBANCO S/A                                          3.444284
PROCTER & GAMBLE IND. E COM. LTDA                          2.518090
AMSTED MAXION FUNDIÇÃO E EQUIPAMENTOS FERROVIÁRIOS S.A     2.170767
A.C. NIELSEN DO BRASIL LTDA                                1.997106
PLASTIC OMNIUM DO BRASIL LTDA                              1.881331
SUZANO PAPEL E CELULOSE S/A                                1.736614
EMBRAER S/A                                                1.562952
GERDAU S/A                                                 1.562952
INTERVET DO BRASIL VETERINÁRIA LTDA                        1.273517
3M DO BRASIL LTDA                                          1.186686
MONSANTO DO BRASIL LTDA                                    1.186686
EATON LTDA                                                 1.186686
BRASKEM S/A                                                1.157742
AMBEV S.A.                                                 1.128799
Name: Empresa, dtype: float64

In [151]:
len(df['Empresa'].value_counts().head(19))
print(len(df))
len(df['Empresa'].value_counts())

3455

587

In [152]:
# -- Localizando as 19 principais empresas
df2 = df.loc[(df['Empresa'] == 'BASF S/A') | (df['Empresa'] == 'ESCOLA DE ENGENHARIA DE LORENA') |
             (df['Empresa'] == 'CONFAB INDUSTRIAL S/A') | (df['Empresa'] == 'CRUZEIRO PAPEIS INDUSTRIAIS - CPI') |
            (df['Empresa'] == 'JOHNSON & JOHNSON INDUSTRIAL LTDA.') | (df['Empresa'] == 'ITAÚ UNIBANCO S/A') | (df['Empresa'] == 'A.C. NIELSEN DO BRASIL LTDA') | 
            (df['Empresa'] == 'PROCTER & GAMBLE IND. E COM. LTDA') | (df['Empresa'] == 'AMSTED MAXION FUNDIÇÃO E EQUIPAMENTOS FERROVIÁRIOS S.A') |    
            (df['Empresa'] == 'PLASTIC OMNIUM DO BRASIL LTDA') |  (df['Empresa'] == 'SUZANO PAPEL E CELULOSE S/A') | (df['Empresa'] == 'EMBRAER S/A') |  
            (df['Empresa'] == 'GERDAU S/A') | (df['Empresa'] == 'INTERVET DO BRASIL VETERINÁRIA LTDA') | (df['Empresa'] == 'MONSANTO DO BRASIL LTDA') | (df['Empresa'] == 'BRASKEM S/A') | (df['Empresa'] == 'EATON LTDA') | 
            (df['Empresa'] == 'AMBEV S.A.') | (df['Empresa'] == 'OXITENO S.A INDÚSTRIA E COMÉRCIO')]
'''
#Exportando arquivo
nome_arquivo = 'estagio_princ_emp_filtrado.xlsx'
df2.to_excel(nome_arquivo)
print('DataFrame is written to Excel File successfully.')
'''

"\n#Exportando arquivo\nnome_arquivo = 'estagio_princ_emp_filtrado.xlsx'\ndf2.to_excel(nome_arquivo)\nprint('DataFrame is written to Excel File successfully.')\n"