In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [44]:
df = pd.read_csv('estagio_princ_emp_filtrado_lat_lon.csv')
df.rename(columns={'Período': 'Período (ano)'}, inplace = True)
df.drop('Unnamed: 0',inplace=True,axis=1)

In [78]:
df['Data Início'] = pd.to_datetime(df['Data Início'])
df['Data Término'] = pd.to_datetime(df['Data Término'])
df['Período (mês)'] = (((df['Data Término'] - df['Data Início']).dt.days)/31).astype(int)

In [139]:
df['Empresa'].value_counts()

BASF S/A                                                  371
ESCOLA DE ENGENHARIA DE LORENA                            164
CONFAB INDUSTRIAL S/A                                     129
CRUZEIRO PAPEIS INDUSTRIAIS - CPI                         126
JOHNSON & JOHNSON INDUSTRIAL LTDA.                        124
ITAÚ UNIBANCO S/A                                         119
PROCTER & GAMBLE IND. E COM. LTDA                          87
AMSTED MAXION FUNDIÇÃO E EQUIPAMENTOS FERROVIÁRIOS S.A     75
PLASTIC OMNIUM DO BRASIL LTDA                              65
SUZANO PAPEL E CELULOSE S/A                                60
EMBRAER S/A                                                54
GERDAU S/A                                                 53
A.C. NIELSEN DO BRASIL LTDA                                48
INTERVET DO BRASIL VETERINÁRIA LTDA                        44
MONSANTO DO BRASIL LTDA                                    41
EATON LTDA                                                 41
BRASKEM S/A                                                40
AMBEV S.A.                                                 39
OXITENO S.A INDÚSTRIA E COMÉRCIO                           37
Name: Empresa, dtype: int64

Calculando a média de período de estágio para cada uma das principais empresas

In [143]:
# -- OXITENO
df_oxiteno = df.loc[(df['Empresa'] == 'OXITENO S.A INDÚSTRIA E COMÉRCIO')]
oxiteno = df_oxiteno['Período (mês)'].tolist()

oxiteno_abs = []
for i in oxiteno:
    if i < 0:
        pos = i*-1
        oxiteno_abs.append(pos)
    else:
       oxiteno_abs.append(i)
media_oxiteno = np.mean(oxiteno_abs)
print(media_oxiteno)
print(oxiteno_abs)

9.27027027027027
[10, 10, 10, 3, 10, 8, 4, 11, 4, 0, 11, 11, 8, 11, 11, 21, 10, 1, 18, 22, 21, 5, 12, 3, 10, 11, 1, 18, 22, 6, 2, 3, 3, 11, 11, 5, 5]

In [145]:
# -- BASF
df_basf = df.loc[(df['Empresa'] == 'BASF S/A')]
basf = df_basf['Período (mês)'].tolist()

basf_abs = []
for i in basf:
    if i < 0:
        pos = i*-1
        basf_abs.append(pos)
    else:
       basf_abs.append(i)
media_basf = np.mean(basf_abs)
print(media_basf)
#print(basf_abs)

9.11320754716981

In [152]:
# -- EEL
df_eel = df.loc[(df['Empresa'] == 'ESCOLA DE ENGENHARIA DE LORENA')]
eel = df_eel['Período (mês)'].tolist()

eel_abs = []
for i in eel:
    if i < 0:
        pos = i*-1
        eel_abs.append(pos)
    else:
       eel_abs.append(i)
media_eel = np.mean(eel_abs)
print(media_eel)
print(len(eel_abs))
len(df.loc[(df['Empresa'] == 'ESCOLA DE ENGENHARIA DE LORENA')])

8.896341463414634
164

164

In [155]:
# -- CONFAB INDUSTRIAL S/A

df_confab = df.loc[(df['Empresa'] == 'CONFAB INDUSTRIAL S/A')]
confab = df_confab['Período (mês)'].tolist()

confab_abs = []
for i in confab:
    if i < 0:
        pos = i*-1
        confab_abs.append(pos)
    else:
       confab_abs.append(i)
media_confab = np.mean(confab_abs)
print(media_confab)

8.945736434108527

In [158]:
# -- CRUZEIRO PAPEIS INDUSTRIAIS - CPI

df_cpi = df.loc[(df['Empresa'] == 'CRUZEIRO PAPEIS INDUSTRIAIS - CPI')]
cpi = df_cpi['Período (mês)'].tolist()

cpi_abs = []
for i in cpi:
    if i < 0:
        pos = i*-1
        cpi_abs.append(pos)
    else:
       cpi_abs.append(i)
media_cpi = np.mean(cpi_abs)
print(media_cpi)

6.888888888888889

In [159]:
# -- JOHNSON & JOHNSON INDUSTRIAL LTDA.


df_jj = df.loc[(df['Empresa'] == 'JOHNSON & JOHNSON INDUSTRIAL LTDA.')]
jj = df_jj['Período (mês)'].tolist()

jj_abs = []
for i in jj:
    if i < 0:
        pos = i*-1
        jj_abs.append(pos)
    else:
       jj_abs.append(i)
media_jj = np.mean(jj_abs)
print(media_jj)

9.57258064516129

In [162]:
# -- ITAÚ UNIBANCO S/A

df_itau = df.loc[(df['Empresa'] == 'ITAÚ UNIBANCO S/A')]
itau = df_itau['Período (mês)'].tolist()

itau_abs = []
for i in itau:
    if i < 0:
        pos = i*-1
        itau_abs.append(pos)
    else:
       itau_abs.append(i)
media_itau = np.mean(itau_abs)
print(media_itau)

7.369747899159663

In [164]:
# -- PROCTER & GAMBLE IND. E COM. LTDA

df_procter = df.loc[(df['Empresa'] == 'PROCTER & GAMBLE IND. E COM. LTDA')]
procter = df_procter['Período (mês)'].tolist()

procter_abs = []
for i in procter:
    if i < 0:
        pos = i*-1
        procter_abs.append(pos)
    else:
       procter_abs.append(i)
media_procter = np.mean(procter_abs)
print(media_procter)

10.206896551724139

In [166]:
# -- AMSTED MAXION FUNDIÇÃO E EQUIPAMENTOS FERROVIÁRIOS S.A

df_maxion = df.loc[(df['Empresa'] == 'AMSTED MAXION FUNDIÇÃO E EQUIPAMENTOS FERROVIÁRIOS S.A')]
maxion = df_maxion['Período (mês)'].tolist()

maxion_abs = []
for i in maxion:
    if i < 0:
        pos = i*-1
        maxion_abs.append(pos)
    else:
       maxion_abs.append(i)
media_maxion = np.mean(maxion_abs)
print(media_maxion)

9.56

In [168]:
# -- PLASTIC OMNIUM DO BRASIL LTDA

df_plastic = df.loc[(df['Empresa'] == 'PLASTIC OMNIUM DO BRASIL LTDA')]
plastic = df_plastic['Período (mês)'].tolist()

plastic_abs = []
for i in plastic:
    if i < 0:
        pos = i*-1
        plastic_abs.append(pos)
    else:
       plastic_abs.append(i)
media_plastic = np.mean(plastic_abs)
print(media_plastic)

9.076923076923077

In [169]:
# -- SUZANO PAPEL E CELULOSE S/A

df_suz = df.loc[(df['Empresa'] == 'SUZANO PAPEL E CELULOSE S/A')]
suz = df_suz['Período (mês)'].tolist()

suz_abs = []
for i in suz:
    if i < 0:
        pos = i*-1
        suz_abs.append(pos)
    else:
       suz_abs.append(i)
media_suz = np.mean(suz_abs)
print(media_suz)

8.583333333333334

In [239]:
# -- EMBRAER S/A

df_embraer = df.loc[(df['Empresa'] == 'EMBRAER S/A')]
embraer = df_embraer['Período (mês)'].tolist()

embraer_abs = []
for i in suz:
    if i < 0:
        pos = i*-1
        embraer_abs.append(pos)
    else:
       embraer_abs.append(i)
media_embraer = np.mean(embraer_abs)
print(media_embraer)

8.583333333333334

In [240]:
# -- GERDAU S/A

df_gerdau = df.loc[(df['Empresa'] == 'GERDAU S/A')]
gerdau = df_gerdau['Período (mês)'].tolist()

gerdau_abs = []
for i in gerdau:
    if i < 0:
        pos = i*-1
        gerdau_abs.append(pos)
    else:
       gerdau_abs.append(i)
media_gerdau = np.mean(gerdau_abs)
print(media_gerdau)

8.566037735849056

In [ ]:
# -- A.C. NIELSEN DO BRASIL LTDA

In [238]:
'''

lista_com_nome_empresas = df['Empresa'].value_counts().index.tolist()
#print(lista_com_nome_empresas[0])
lista_media = []

def calcula_media(lista_com_nome_empresas):
    global lista_media
    index = 0
    for i in range(len(lista_com_nome_empresas)):
        df_emp = df.loc[(df['Empresa'] == lista_com_nome_empresas[index])]
        freq_estagio = df_emp['Período (mês)'].tolist()
        for w in freq_estagio:
            lista_media.append(np.mean(w))
            print(lista_media)
        index += 1
'''

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [192]:
df.head()

,Curso,Empresa,Data Início,Data Término,Ano Início,Ano Término,Período (ano),Latitude,Longitude,Cidade,Localização,Período (mês)
0,Engenharia Química,A.C. NIELSEN DO BRASIL LTDA,2017-11-09,2018-06-29,2017,2018,1,-23.643375,-46.826935,São Paulo,3,7
1,Engenharia Química,A.C. NIELSEN DO BRASIL LTDA,2021-04-10,2022-07-31,2021,2022,1,-23.643375,-46.826935,São Paulo,3,15
2,Engenharia Química,A.C. NIELSEN DO BRASIL LTDA,2022-01-08,2022-12-31,2022,2022,0,-23.643375,-46.826935,São Paulo,3,11
3,Engenharia Química,A.C. NIELSEN DO BRASIL LTDA,2018-08-13,2019-07-08,2018,2019,1,-23.643375,-46.826935,São Paulo,3,10
4,Engenharia Química,A.C. NIELSEN DO BRASIL LTDA,2018-03-09,2019-01-07,2018,2019,1,-23.643375,-46.826935,São Paulo,3,9